Language: Cpp
BasedOnStyle: LLVM

AccessModifierOffset: -4
IndentAccessModifiers: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignArrayOfStructures: Right
AlignAfterOpenBracket: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: DontAlign
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  AlignCaseColons: false
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: true
AlignTrailingComments: true
BinPackArguments: true
BinPackParameters: BinPack
BitFieldColonSpacing: Both
BreakAfterReturnType: Automatic
BreakAfterAttributes: Never
BreakBeforeBraces: Custom
########################################
### clang-format 22
# BreakAfterOpenBracketBracedList: true
# BreakBeforeCloseBracketBracedList: true
# BreakAfterOpenBracketFunction: false
# BreakBeforeCloseBracketFunction: true
# BreakAfterOpenBracketIf: false
# BreakBeforeCloseBracketIf: true
# BreakAfterOpenBracketSwitch: false
# BreakBeforeCloseBracketSwitch: true
# NumericLiteralCase:
#   ExponentLetter: Leave
#   HexDigit: Lower
#   Prefix: Upper
#   Suffix: Lower
########################################
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: true
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyRecord: true
  SplitEmptyFunction: false
BreakBeforeBinaryOperators: NonAssignment
BreakInheritanceList: BeforeColon
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakStringLiterals: false
ColumnLimit: 0
ContinuationIndentWidth: 4
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true
EmptyLineBeforeAccessModifier: LogicalBlock
IndentCaseBlocks: false
IndentCaseLabels: true
IndentWidth: 4
IndentExternBlock: AfterExternBlock
IndentRequiresClause: true
NamespaceIndentation: All
FixNamespaceComments: false
IndentPPDirectives: AfterHash
PPIndentWidth: 4
PointerAlignment: Left
SortIncludes: false
SpaceBeforeCaseColon: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeJsonColon: false
SpacesInAngles: Never
SpacesBeforeTrailingComments: 1
SpaceAfterCStyleCast: false
TabWidth: 4
UseTab: ForContinuationAndIndentation
InsertNewlineAtEOF: true
InsertBraces: true
PackConstructorInitializers: Never
LambdaBodyIndentation: OuterScope
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: true
KeepEmptyLinesAtEOF: true
SeparateDefinitionBlocks: Leave
SpaceAfterTemplateKeyword: false
RequiresClausePosition: OwnLine
PenaltyBreakAssignment: 100
PenaltyBreakBeforeFirstCallParameter: 200
PenaltyBreakOpenParenthesis: 180
PenaltyBreakTemplateDeclaration: 100
WrapNamespaceBodyWithEmptyLines: Leave

