*.d
*.cache
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.dwo

build
config
logs
*.vs
*.ini
*CMakeSettings.json
*.md
!README.md
!DEVELOPMENT.md

modules/glad/include
modules/glad/src

assets/levels/backup

